#u154
{
	border-style: none;
	border-color: transparent;
	background-color: #6C6C6C;
}

#u154_align_to_page
{
	position: relative;
}

#u153
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u152-6
{
	background-color: transparent;
	text-align: center;
	position: relative;
}

#u152
{
	color: #FFFFFF;
}

