#u81
{
	background-color: transparent;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	position: relative;
}

#u84
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u86-5
{
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #FFFFFF;
	text-align: center;
	position: relative;
}

#u86
{
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
}

#u87
{
	background-color: transparent;
	position: relative;
}

#u94-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u100-4,#u99-16
{
	background-color: transparent;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
}

#u99-2
{
	font-weight: bold;
}

#u99
{
	text-decoration: underline;
}

